@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Remove default padding and margin */
* {
    margin: 0px;
    padding: 0px;
}

body, * {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    padding: 16px;
}

#root {
    background-color: #111111;
    height: 100vh;
    color: #f3f3f3;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > * {
    margin: 8px;
}

.hide-content {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form > *, .field-wrapper > * {
    margin: 8px;
}

.field-wrapper {
    display: flex;
    flex-direction: row;
}

.btn {
    cursor: pointer;
    padding: 24px;
    background-color: #E1E972;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #111111;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: #7DFA61;
}

.btn:active {
    transform: scale(0.8);
}

.results-content, .loading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
